# API (api/.env)
MONGO_URI=mongodb://mongo:27017/weather_db
JWT_SECRET=your_jwt_secret
PORT=3000
ADMIN_EMAIL=admin@example.com
ADMIN_PWD=123456

# Producer (producer-python/.env)
RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
LOCATION_LAT=-23.55052
LOCATION_LON=-46.633308
POLL_INTERVAL_SECONDS=3600
OPENMETEO_URL=https://api.open-meteo.com/v1/forecast

# Go worker (worker-go/.env)
RABBIT_URL=amqp://guest:guest@rabbitmq:5672/
NEST_API_URL=http://nest-api:3000/api/weather/logs
RETRY_COUNT=3
